<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/styles/reset.css">
	<link rel="stylesheet" href="/static/styles/style.css">
	<link rel="stylesheet" href="/static/styles/renderedText.css">
	<link rel="stylesheet" href="/static/styles/info-screen.css">
	<link rel="stylesheet" href="/static/styles/first-time.css">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

	<script src="/static/scripts/context-navigation.js"></script>
	<script src="/static/scripts/first-time.js"></script>
	<script src="/static/scripts/keys.js"></script>
</head>
<body>
	<div class="content">
		<div class="top">
			<div class="inner-content">
				<p>Hi&nbsp;<b id="user-name">name</b>, and welcome to fediiverse!</p>
				<p><b id="inst-name">instancename</b> is running fediiverse version <b id="inst-version">?.?.?</b>.</p>
				<p>If you have any problems or feature requests, make sure to create an issue on the <b>fediiverse GitHub page</b>!</p>
				<p>Thank you for using fediiverse!</p>
			</div>
		</div>
		<div class="bottom">
			<button class="big-button" onclick="getStarted()">Get started</button>
		</div>
	</div>
</body>
</html>