<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute -->
<html>
<head>
	<link rel="stylesheet" href="/static/styles/reset.css">
	<link rel="stylesheet" href="/static/styles/icons.css">
	<link rel="stylesheet" href="/static/styles/style.css">
	<link rel="stylesheet" href="/static/styles/renderedText.css">
	<link rel="stylesheet" href="/static/styles/profile.css">
	<link rel="stylesheet" href="/static/styles/statuspage.css">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

	<script src="/static/scripts/external/promise.min.js"></script>
	<script src="/static/scripts/external/fetch.min.js"></script>
	<script src="/static/scripts/gfetch.js"></script>
	<script src="/static/scripts/select.js"></script>
	<script src="/static/scripts/toolbar.js"></script>
	<script src="/static/scripts/statuspage.js"></script>
	<script src="/static/scripts/normal-page.js"></script>
	<script src="/static/scripts/live-timestamp.js"></script>
	<script src="/static/scripts/context-navigation.js"></script>
	<script src="/static/scripts/keys.js"></script>
</head>
<body>
	<div class="content">
		<div class="header">
			<h1>Thread</h1>
		</div>
		<a contextual class="big-button" id="load-more-ancestors-button">
			Earlier
		</a>
		<div class="status-list"></div>
		<a contextual class="big-button" id="load-more-descendants-button">
			More replies
		</a>
	</div>
</body>
</html>