.inner-content {
	padding: 16px;
    width: 320px;
    height: auto;
    border-color: rgb(49, 185, 27);
}

.inner-content p {
    word-wrap: break-word;
    max-width: 100%;
}

.top, .bottom {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.top {
    width: 400px;
    height: 220px;
}

.bottom {
    width: 320px;
    height: 240px;
}

.inner-content p {
    margin-bottom: 8px;
}

.inner-content > *:last-child {
    margin-bottom: 0px;
}